<section class="mb-4">
    <div class="contact3 py-5">
        <div class="row no-gutters">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card-shadow">
                            <div class="col-sm-8">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d23460.050907844212!2d23.314476388154567!3d42.69299783991934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1soptiki%20sofia!5e0!3m2!1sbg!2sbg!4v1678085120007!5m2!1sbg!2sbg" width="550" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                            </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="contact-box ml-3">
                            <h1 class="font-weight-light mt-2">Quick contact with us</h1>
                            <form class="mt-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group mt-2">
                                            <input class="form-control" type="text" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mt-2">
                                            <input class="form-control" type="email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mt-2">
                                            <input class="form-control" type="text" placeholder="Phone">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mt-2">
                                            <textarea class="form-control" rows="3" placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <button type="submit" class="btn btn-danger-gradiant mt-3 text-white border-0 px-3 py-2"><span> SUBMIT</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card mt-4 border-0 mb-4">
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="card-body d-flex align-items-center c-detail pl-0">
                                        <div class="mr-3 align-self-center">
                                            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon1.png">
                                        </div>
                                        <div class="">
                                            <h6 class="font-weight-medium">Address</h6>
                                            <p class="">
                                                bul. „Vitosha“, 1463 Ndk
                                                <br> Sofia
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="card-body d-flex align-items-center c-detail">
                                        <div class="mr-3 align-self-center">
                                            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon2.png">
                                        </div>
                                        <div class="">
                                            <h6 class="font-weight-medium">Phones</h6>
                                            <p class="">
                                                0897 654 832
                                                <br> 0896 571 030
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="card-body d-flex align-items-center c-detail">
                                        <div class="mr-3 align-self-center">
                                            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon3.png">
                                        </div>
                                        <div class="">
                                            <h6 class="font-weight-medium">Emails</h6>
                                            <p class="">
                                                torrichelli.glassess@gmail.com
                                                <br> torrichelli@gmail.com
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .contact3 {
            font-family: "Montserrat", sans-serif;
            color: #8d97ad;
            font-weight: 300;
        }

            .contact3 h1,
            .contact3 h2,
            .contact3 h3,
            .contact3 h4,
            .contact3 h5,
            .contact3 h6 {
                color: #3e4555;
            }

            .contact3 .font-weight-medium {
                font-weight: 500;
            }

            .contact3 .card-shadow {
                -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
                box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
            }

            .contact3 .btn-danger-gradiant {
                background: #ff4d7e;
                background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
                background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
                background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
                background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
                background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
            }

                .contact3 .btn-danger-gradiant:hover {
                    background: #ff6a5b;
                    background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
                    background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
                    background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
                    background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
                    background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
                }
    </style>
</section>