@{ ViewData["Title"] = "ForUs Page"; }

<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8">

        <style>
            main {
                border-width: 3px;
                border-color: deepskyblue;
                border-style: solid;
            }
        </style>
    </head>
    <body>
        <div class="text-center">

            <h3 class="display-4">За Нас - Torrichelli</h3>
            <p style="text-align:center;">

                Компанията ни е основана 18.01.2023 г., като ще се усъвършенстваме с годините, за да можем да предоставим най-доброто от света на висшата мода.
                В нашите оптики можете да намерите слънчеви очила и корекционни рамки от световно известни дизайнерски линии като Armani, Dolce & Gabbana, RayBan, Prada, Versace, Vogue, Tom Ford, Ralph, Tiffany & Co., Swarovski и много други.
                Прекрачвайки прага на бутиковите ни магазини ще попаднете на невероятен екип от специалисти, които ще ви помогнат да направите правилния избор. Желанието ни е да изпълним вашия свят с много красота, здраве, качество и уникален стил.
                Разполагаме с 10 оптики в България, които са разположени на топ локации. Можете да откриете вашата любима оптика в следните градове в страната – София, Варна, Пловдив, Бургас и Велико Търново. Надяваме се скоро и извън страната.
                В нашия сайт можете да откриете голямо разнообразие от рамки, диоптрични стъкла, слънчеви очила, както и много аксесоари като връзки и синджири, кърпички и спрейове за почистване.

            </p>
            <img src="https://i.pinimg.com/564x/37/9f/8e/379f8e8174ba00a9b8de7cb5c680a714.jpg"
                 alt="Store pic" width="800" height="1000">
        </div>
    </body>
</html>
